.background {
  background: url(../sky.jpg);
  background-size: contain;
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}
.lava {
  background: rgb(255, 100, 100);
}
.wall {
  background: url(../grass2.jpg);

  background-position: center 80%;
  background-repeat: no-repeat;
  object-fit: contain;
}

.static_lava {
  background: url(../lava_tiles.jpg);
  background-position: -10% 60%;
  object-fit: contain;
}

.actor {
  position: absolute;
}
.coin {
  background: url("../coin.jpeg"); /*rgb(241, 229, 89);*/
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  padding: 3px;
}
.player {
  background: rgb(52, 166, 251);

  height: 50px;
}

body {
  margin: 0px;
  padding: 0px;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
  margin: 0 auto;
}

.score_board {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
}

.wrapper {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
}

.coin_remaining,
.lives {
  padding: 5px 8px;
  border-radius: 2px;
  background-color: rgba(226, 225, 214, 0.5);
}

#root {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  margin: 50px auto;
  border: 3px solid maroon;
}

.fireball {
  background: transparent;
}

.image {
  width: 100%;
  height: 100%;
}

.game_over {
  width: 100%;
  height: 100%;
  background-position: center;
}

.play_btn {
  position: absolute;
  padding: 8px 13px;
  font-weight: bold;
  left: 50%;
  top: 70%;
  transform: translate(-50%, 0);
}

.finish_page_wrapper {
  background: url(../endgame.png) no-repeat;
  background-position: center;
  height: 450px;
  width: 100%;
}

.win_page_wrapper {
  background: url(../won.jpeg) no-repeat;
  background-position: center;
  height: 450px;
  width: 100%;
}
